.get-started {
  background-image: url("../../assets/img/Group-5821.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem 0 5rem 0;
  display: flex;
  justify-content: center;
  .get-started-container {
    text-align: center;
    margin: auto;
  }

  .header-text {
    font-family: "gilroy";
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
    color: $white;
  }

  .text-body {
    line-height: 1.7rem;
    font-family: "poppins";
    font-weight: normal;
    color: $white !important;
  }
}
