.btn {
  background: #d90b2c 0% 0% no-repeat padding-box;
  border-radius: 33px;
  letter-spacing: 0px;
  color: var(--Gray95);
  text-transform: capitalize;
  font-family: ttNorms;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 1rem 4rem;
  outline: none;
  border: none;
}
