.apems-btn-rounded {
  background: #d90b2c 0% 0% no-repeat padding-box;
  border-radius: 33px;
  letter-spacing: 0px;
  color: var(--bs-white);
  text-transform: capitalize;
  font-family: ttNorms;
  font-size: 0.875rem;
  font-weight: bold;
  padding: .5rem 2.5rem;
  outline: none;
  border: none;
}
