@import '../../assets/styles/index.scss';

.bottom-layer{
    height: 90vh;
    // position: fixed;
    display: flex;
    width: 100%;
    z-index: -1;
    .remain-connected{
        width: 60%;
        padding: 8% 4% 0 8%;
    }
    .video-container{
        position: relative;
        width: 40%;
        .connected-video{
            width: 100%;
            position: absolute;
            bottom: 6%;
            border: 6px solid var(--navyblue);
            border-right: none;
            border-radius: 10% 0 0 10%;
            height: 87%;
            overflow: hidden;
        }
    }

    .header-text{
        font-family: 'gilroy';
        font-weight: bold;
        font-size: 3rem
    }

    .text-red{
        color: var(--cinnabar);
    }

    .text-body{
        line-height: 1.8rem;
        font-family: 'poppins';
        font-weight: normal
    }

    .form-container{
        height: 5rem;
        background-color: var(--grey);
        border-color: var(--pinkreddeep);
        width: 70%;
        display:flex;
        flex-direction:row;
        font-family: 'gilroy';
        font-weight: normal;
        margin-top: 3rem;
        input{
            height: 4.5rem;
            border: 1px solid var(--deepgrey);
            padding: 1rem;
            flex-grow:2;
            background-color: transparent;
            &:focus{
                border: none;
                outline: none
            }
        }
        button{
            height: 4.5rem;
            background-color: var(--pinkred);
            color: var(--white);
            border: none;
            padding: 0 1rem
        }
    }
}