
.bottom-layer{
    height: 90vh;
    // position: fixed;
    display: flex;
    width: 100%;
    z-index: -1;
    .remain-connected{
        width: 60%;
        padding: 8% 4% 0 8%;
    }
    .video-container{
        position: relative;
        width: 40%;
        padding-top: 2rem;
        .connected-video{
            width: 100%;
            position: absolute;
            border: 6px solid var(--navyblue);
            border-right: none;
            border-radius: 5% 0 0 5%;
            height: 78%;
            overflow: hidden;
            padding: 1rem;
            background-color: var(--black);
        }
    }

    .header-text{
        font-family: 'gilroy';
        font-weight: bold;
        font-size: 3rem
    }

    .text-red{
        color: var(--cinnabar);
        position: relative;
        &::after{
            position: absolute;
            content: "";
            height: 2px;
            background-color: var(--cinnabar);
            width: 100%;
            margin-left: 15px;
            top: 100%;
        }
    }

    .text-body{
        line-height: 1.8rem;
        font-family: 'poppins';
        font-weight: normal
    }

    .form-container{
        height: 5rem;
        background-color: var(--grey);
        border-color: var(--pinkreddeep);
        width: 70%;
        display:flex;
        flex-direction:row;
        font-family: 'gilroy';
        font-weight: normal;
        margin-top: 3rem;
        input{
            height: 4.5rem;
            border: 1px solid var(--deepgrey);
            padding: 1rem;
            flex-grow:2;
            background-color: transparent;
            &:focus{
                border: none;
                outline: none
            }
        }
        button{
            height: 4.5rem;
            background-color: var(--pinkred);
            color: var(--white);
            border: none;
            padding: 0 1rem
        }
    }
}