@import '../../assets/styles/index.scss';

.how-it-works{
    background-color: var(--darkgrey);
    color: var(--white);
    padding: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'gilroy';
    .header-banner{
        width: 40%;
        text-align: center;
        h1{
            font-weight: bolder;
        }
        p{
            font-weight: normal;
            line-height: 1.7rem;
        }
    }
    .steps{
        display: flex;
        .step{
            padding: 2rem;
            text-align: center;
            h1{
                font-weight: bold;
            }
            p{
                
                font-weight: normal;
                line-height: 1.7rem;
            }
        }
    }
}