.text-label {
  color: $pinkred;
  border-radius: 0.5rem;
  background-color: $pink;
  width: 15rem;
  font-size: 12px;
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
  text-align: left;
  border: none;
  outline: none;
}

.three-way-row {
  background: url("../../assets/img/mask-group-39.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto 35rem;

  .ussd-img {
    float: right;
    width: 25rem;
  }
}

.hybrid-row {
  background: url("../../assets/img/hybrid-bottom-right.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 10rem;

  .hybrid-img {
    width: 32rem;
  }
}

.three-way-solution {
  text-align: center;
  h1 {
    font-family: "gilroy";
    font-weight: 800;
    font-size: 3rem;
  }
  p {
    line-height: 1.8rem;
    font-family: "poppins";
    font-weight: normal;
    color: $textgrey;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  background: url("../../assets/img/ussd-right-top.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 5rem;

  p {
    line-height: 1.8rem;
    font-family: "poppins";
    font-weight: normal;
    color: $textgrey;
    width: 70%;
  }
}

.mb-1 {
  margin-bottom: 1rem;
}

.checkmark {
  background-color: $pinkred;
  color: $white;
  padding: 0.1rem 0.25rem;
  border-radius: 50%;
  border-radius: 50%;
  font-size: 0.8rem;
  margin: 0 1rem;
}

.evoting-text {
  width: 100%;
  background: url("../../assets/img/evoting-bottom-left.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: auto 5rem;
  padding-left: 12rem;
}
.evoting-img {
  float: right;
  width: 30rem;
}

#scroll-over-section {
  top: 52rem;
  -webkit-box-shadow: 0px 5px 23px 55px #ca96961a;
  box-shadow: 0px 5px 23px 55px #ca96961a;
  -moz-box-shadow: 0px 5px 23px 55px #ca96961a;
  background: $white;
  opacity: 1;
  position: relative;
}
