:root {
  --white: #ffffff;
  --magnolia: #f8f7fa;
  --deepgrey: #dedee0;
  --Gray95: #f2f2f2;
  --grey: #f5f7f8;

  --cinnabar: #ef3125;
  --pinkred: #d90b2c;
  --lightred: #ff4040;

  --green: #09974d;

  --black: #030111;
  --navyblue: #5f649c;

  --redgrey: #707070;
  --pinkreddeep: #5c6574;
  --darkgrey: #111112;
}
